<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
    </header>
    <div class="row 150%">
        <div class="6u$ 12u$(xsmall)">
          <div class="image fit captioned">
            <h3>[お知らせ]<br/>広告主　募集中</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
    </header>
    <div class="row 150%">
        <div class="6u$ 12u$(xsmall)">
          <div class="image fit captioned">
            <h3>[お知らせ]<br/>広告主　募集中</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
    </header>
    <div class="row 150%">
        <div class="6u$ 12u$(xsmall)">
          <div class="image fit captioned">
            <h3>[お知らせ]<br/>広告主　募集中</h3>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
      <input type="button" value="パスワードを入力して新規登録する" onclick="gate();">
    </header>
  </div>
</section>

<script type="text/javascript">
  function gate() {
      var UserInput = prompt("パスワードを入力して下さい:","");
      if (UserInput == "太陽"){
        location.href = "companies/sign_up";
      }else{
        document.write("パスワードが正しくありません。")
      }
  }

</script>
