<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
    </header>
    <div class="row 150%">
      <div class="6u$ 12u$(xsmall)">
        <div class="image fit captioned">
          <h3>[お知らせ]<br/>広告主　募集中</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
  <header class="major">
    </header>
    <div class="row 150%">
      <div class="6u 12u$(xsmall)">
        <div class="image fit captioned">
          <h3>こちらをご提示ください</h3>
        </div>
        <div class="image fit captioned">
          <h3>
            <P>- <%= @companyeet.company.nickname %> -</P>
            <P><%= simple_format(@companyeet.title) %></P>
          </h3>
            <p>有効期限：<%= @companyeet.period %></p>
        </div>
        <% if company_signed_in? || user_signed_in? %>
          <ul class="actions">
            <li>
            <%= button_to companyeet_likes_path(@companyeet.id), class: "button special big", style:"margin-top:180px;", method: :post do %>提示した後に押してください<% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
