header {
  background-color: #D2691E;
}

body{
  background-color: #fbf7f1;
}

footer{
  background-color: #D2691E;
}

/* チャットレイアウト */
.chat-box {
    // width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
    float:left;
}
.chat-face {
    float: left;
    margin-right: -120px;
}
.chat-face img{
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 15px 20px;
    margin-left: 120px;
    margin-top: 8px;
    /* border: 1px solid gray; ←削除 */
    border-radius: 10px;
    position: relative; /*追記*/
    background-color: #BCF5A9; /*追記*/
}
/* ↓追記↓ */
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 50%; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #BCF5A9 transparent transparent;
}
.someone {
    background-color: #BCF5A9;
}
.someone:after {
    border-color: transparent #BCF5A9 transparent transparent;
}

// navber
.table-ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
}
.table-ul li {
  border-right: 1px solid #3b3730;
  display: table-cell;
  vertical-align: middle;
}
.table-ul li:last-child {
  border-right: 0;
}
.table-ul li a {
  color: #3b3730;
  display: block;
  font-size: 8px;
  text-decoration: none;
  padding: 5px;
}

.login_or_edit {
  background-color: #0f5620;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
.login_or_edit li a{
  border-right: 1px solid #fff;
}
.login_or_edit li a{
  color: #fff;
}
// end_navber

.thumbnail {
    border-radius: 0;
    padding: 0;
  }

// Image-Design
.tweet-box{
  min-width: 400px;
  max-width: 401px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e8ed;
}

.tweet-post{
  min-width: 400px;
  max-width: 401px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f99d9e;
}

.image_tag{
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 50px;
  margin-left: 50px;
  border-radius: 10px;
}
// end Image-Design

// header design
.header{
  height: 62px;
  background-color: #f99d9e;
}

// Post
.post_box{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.post_field{
  max-width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

// .super-chat-box{
//   border-bottom: 1px solid #e1e8ed;
// }
.like-box{
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  font-size: 30px;
  color: #D2691E;
}

.like-pic{
  max-width: 70px;
  margin-right: 5px;
  margin-left: 5px;
}

