<div class="header">
  <ul class="nav nav-pills">
    <li><%= link_to "ホーム", tops_path %></li>
    <li><%= link_to "店主のつぶやき", companyeets_path %></li>
    <li class="active"><%= link_to "皆のつぶやき", usereets_path %></li>
  </ul>
</div>
